DATABASE_URL=
JWT_SECRET="sisikita-jwt-secret-dev-2024"
JWT_EXPIRATION="7d"
APP_PORT=3001

# Config for Image Upload integration (ImageKit)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=