# APP Configuration
APP_NAME=SISIKITA
NODE_ENV=development
API_PREFIX=api
CORS_ORIGIN=*
APP_PORT=3001

# JsonWebToken
JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=jwt-expiration

# Swagger API Docs
SWAGGER_ENABLED=true
SWAGGER_PATH=docs

# Database Configuration
DATABASE_URL=your-database-url

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=your-imagekit-public_key
IMAGEKIT_PRIVATE_KEY=your-imagekit-private_key
IMAGEKIT_URL_ENDPOINT=your-imagekit-endpoint